<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="at.ac.tuwien.hci.ghost"
      android:versionCode="1"
      android:versionName="1.0">
      
      <uses-permission android:name="android.permission.INTERNET" />
      
    <application android:icon="@drawable/icon" android:label="@string/app.name" android:theme="@style/GhostRunnerTheme">
    	<uses-library android:name="com.google.android.maps" />
    
        <activity android:name=".ui.MainTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ui.WeatherActivity">
        </activity>
        
        <activity android:name=".ui.run.StartRunActivity">
        </activity>
        
         <activity android:name=".ui.run.RunDetailsActivity">
        </activity>
        
        <activity android:name=".ui.run.RunningInfoActivity">
        </activity>
        
        <activity android:name=".ui.run.RunningMapActivity">
        </activity>
        
        <activity android:name=".ui.history.HistoryActivity">
        </activity>
        
        <activity android:name=".ui.route.RoutesActivity">
        </activity>
        
        <activity android:name=".ui.route.AllRunsOfRouteActivity">
        </activity>
        
        <activity android:name=".ui.goal.GoalsActivity">
        </activity>
        
        <activity android:name=".ui.goal.NewGoalActivity">
        </activity>

    </application>


</manifest> 